*{
    box-sizing: border-box;
}

body{
    background-color: #0E1327;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 0;
    font-family:  Verdana;
}

h1,h3{
    margin-bottom: 0;
}
p{
    line-height: 1.5;
    margin: 0;
}

.play-btn{
    padding: 8px 15px;
    border: 0;
    background: wheat;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.5s;
}
.play-btn:hover{
    background-color: hsl(0, 6%, 31%);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}
.play-btn:active{
    transform: scale(1);
    background-color: hsl(0, 6%, 31%);
}
.msg{
    font-size: 1.5em;
    margin-top: 40px;
}
.box{
    border: 10px ridge hsl(0, 35%, 35%);
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}


